@using Mini_Customer_Orders_Project_MVC_.Entity
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Mehsul Sehifesi</h1>


<table class="table table-bordered">
    <tr>
        <th hidden>#</th>
        <th>Ad</th>
        <th>Qiymət</th>
        <th>Miqdar</th>
        <th>Əməliyyatlar</th>
    </tr>
        @foreach(var item in Model)
        {
           <tr>
               <td>@item.Name</td>
               <td>@item.Price</td>
               <td>@item.Stock</td>
            <td><a class="btn btn-danger" href="/Product/DeleteProduct/@item.Id">Sil</a> <a href="/Product/UpdateProduct/@item.Id" class="btn btn-success">Dəyişdir</a></td>
        </tr>
        }
</table>
<a href="/Product/AddProduct/" class="btn btn-primary">Yeni məhsul</a>

